.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.432);
    background-color: #f1f1f1b7;
    z-index: 0;
    position: relative;
}


.navList {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navListItem {
    margin-left: 30px;
    align-self: center;
    font-size: 16px;
}

.toggleMenu {
    display: none;
}

@keyframes animateBefore {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}
@media (min-width:500px){
    .mainNavListContainer{
        display: none;
    }
}



.mainNavListContainer {
    padding: 10px;
    background-color: rgb(235, 235, 235);
    width: 60%;
    height: 100%;
    z-index: 100;
    border-bottom-right-radius: 10px;
    border-right: 1px solid rgba(22, 17, 17, 0.055);
    position: absolute;
    top: 0;
    animation: animateBefore 1s ease-in-out;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

.showMenu {
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
    
}


@keyframes animate {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


.toggleMenuList {
    display: flex;
    flex-direction: column;
}

.toggleMenuListItems {
    margin-top: 20px;
    cursor: pointer;
}
.toggleMenuListItems a{
   color: #d10000;
}

.toggleMenuCancel {
    align-self: end;
}

.navListCart {
    position: relative;
}

.cartBadge {
    background-color: black;
    border-radius: 50%;
    color: white;
    font-size: 8px;
    padding: 3px 4px;
    position: absolute;
    text-align: center;
    bottom: 12px;
    left: -5;
}


@media (max-width : 500px) {
    .navList {
        display: none;
    }

    .toggleMenu {
        display: flex;
    }

    .toggleMenuItem {
        align-self: center;
    }
}