.mainContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.mainContainer div {
    margin-top: 10px;
}

#buttonList button:focus {
    box-shadow: none;
}

.cardItem {
    box-shadow: 0 0px 5px rgba(255, 255, 255, 0.753);
    margin-bottom: 0px;
    padding: 0;
    overflow: hidden;
}
.imageContainer{
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.imageContainer img{
    cursor: pointer;
    max-height: 100%;
}
.imageContainer img:hover{
    transform: scale(1.3);
    transition: transform 0.4s ease-in;
}
.cartIcon {
    position: absolute;
    right: 30px;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
}
@keyframes opacityChange {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.imageContainer:hover .cartIcon{
    animation: opacityChange 0.7s ease-in-out;
    opacity: 1;
}
